@import "_variables";
@import "_mixins";

header {
  @include flex-row-center;
  justify-content: space-between;
  height: auto;
  //border-bottom: $red 0.1rem solid;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $navbar-background;
  //background-image: linear-gradient(white, transparent);
  /*background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.24),
    rgba(255, 255, 255, 0.705),
    white
  );*/
  z-index: 1;
  padding-bottom: 2rem;
  border-bottom: $dark-line solid 0.5rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
  font-size: 4rem;
}

.logo img {
  width: 26rem;
  height: 6rem;
  transition: all 0.3s ease-in-out;
}

.navbar {
  @include flex-row-center;
  padding-left: 0rem;
  padding-right: 3rem;
  list-style-type: none;
}

.navbar input {
  font-family: $fontv2;
  margin-top: 2rem;
  font-size: 2.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

//////////////////////////////////////////////
.class-box-section {
  @include flex-col-center;
  padding-top: 12rem;
  //width: 30rem;
}

.class-box {
  @include flex-row-center;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 2rem;
  border: $dark-line solid 0.3rem;
  border-radius: 1rem;
  width: 80%;
}
.class-title-and-rating {
  @include flex-col-center;
  text-align: center;
  padding-right: 1rem;
  width: 15%;
}
.class-code {
  font-size: 2rem;
  font-weight: bold;
}
.class-title {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}
.class-rating {
  @include flex-row-center;
  padding-top: 0.25rem;
  font-size: 1.5rem;
}
.class-description {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: left;
  font-size: 1.8rem;
  width: 50%;
}
.class-breakdowns {
  display: flex;
  flex-direction: column;
  align-items: none;
}
.breakdown-container {
  //@include flex-row-center;
  display: flex;
  flex-direction: row;
  align-items: left;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.breakdown-title {
  font-size: 1.75rem;
  padding: 0.25rem;
  padding-right: 1rem;
}
.breakdown-rating {
  font-size: 1.75rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
}
.hard {
  background-color: rgb(255, 103, 103);
}
.okay {
  background-color: rgb(255, 233, 69);
}
.easy {
  background-color: rgb(113, 199, 113);
}

.class-add-and-review {
  @include flex-col-center;
  padding-right: 1.5rem;
}
.class-add-button {
  font-size: 2.5rem;
  padding: 0.5rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  margin-bottom: 1rem;
  text-decoration: none;
  color: black;
  background-color: $background-gray;
  border-radius: 2rem;
  border: $background-gray 0.2rem solid;
  transition: 0.2s all ease-in-out;
}
.class-add-button:hover {
  border: black 0.2rem solid;
}
.class-see-reviews {
  font-size: 1.5rem;
  color: gray;
  text-decoration: none;
}
