@import "_variables";
@import "_mixins";

.entire-container {
  @include flex-col-center;
}

.find-school-container {
  @include flex-col-center;
  margin-top: 20rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-radius: 1rem;
  width: 50%;
  background-color: white;
}

.find-school-description {
  @include flex-col-center;
  font-size: 4rem;
}
.find-school-search-bar {
  margin: 2rem;
  font-size: 3rem;
  padding: 0.3rem;
  font-family: $fontv2;
  border: black 0.2rem solid;
  border-radius: 0.5rem;
  width: 45rem;
}
.enter-button {
  padding: 0.7rem;
  color: white;
  background-color: $dark-line;
  border: $dark-line 0.2rem solid;
  border-radius: 0.5rem;
  text-decoration: none;
}
