@import "_variables";
@import "_mixins";

.entire-container {
  @include flex-col-center;
}

.notice-container {
  @include flex-col-center;
  margin-top: 15rem;
  width: 60rem;
  background-color: white;
  border-radius: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.notice-header {
  @include flex-row-center;
  text-align: center;
  font-size: 4rem;
}
.notice-header h1 {
  font-weight: lighter;
}
#notice-text-button {
  border: transparent 0.2rem solid;
  border-radius: 3rem;
  transition: 0.2s all ease-in-out;
  margin-left: 1rem;
}
#notice-text-button img {
  width: 2rem;
}

#notice-text-button:hover {
  border: $dark-line solid 0.2rem;
  border-radius: 3rem;
}

.notice-text {
  font-size: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
}
.flip {
  transform: rotate(180deg);
}
.hidden {
  display: none;
}

.find-school-container {
  @include flex-col-center;
  margin-top: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-radius: 1rem;
  width: 50%;
  background-color: white;
}

.find-school-description {
  @include flex-col-center;
  font-size: 4rem;
}
.find-school-search-bar {
  margin: 2rem;
  font-size: 3rem;
  padding: 0.3rem;
  font-family: $fontv2;
  border: black 0.2rem solid;
  border-radius: 0.5rem;
  width: 45rem;
}
.enter-button {
  padding: 0.7rem;
  color: white;
  background-color: $dark-line;
  border: $dark-line 0.2rem solid;
  border-radius: 0.5rem;
  text-decoration: none;
}
