$font: "Quicksand", sans-serif;
$fontv2: "Questrial", sans-serif;

// logo colors
$red: #ec1e24;
$green: #8bc540;
$blue: #29a9e1;
$mainblue: #3366ff;
$background-gray: #a6a6a6;
$navbar-background: #d4d4d4;
$boxes-background: #f2f2f2;
$dark-line: #282828;

// screen sizes
$monitor-min: 1750px;
$phone-min: 430px;
