header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #d4d4d4;
  /*background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.24),
    rgba(255, 255, 255, 0.705),
    white
  );*/
  z-index: 1;
  padding-bottom: 2rem;
  border-bottom: #282828 solid 0.3rem;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
  font-size: 4rem;
}

.logo img {
  width: 26rem;
  height: 6rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0rem;
  padding-right: 3rem;
  list-style-type: none;
}

.navbar input {
  font-family: "Questrial", sans-serif;
  margin-top: 2rem;
  font-size: 2.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.class-counter {
  padding-top: 2rem;
  padding-right: 3rem;
  font-size: 2rem;
}

.class-box-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 12rem;
}

.class-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 2rem;
  border: #282828 solid 0.3rem;
  border-radius: 1rem;
  width: 80%;
}

.class-title-and-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-right: 1rem;
  width: 15%;
}

.class-code {
  font-size: 2rem;
  font-weight: bold;
}

.class-title {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.class-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.25rem;
  font-size: 1.5rem;
}

.star {
  width: 2rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.class-description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.class-description {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: left;
  font-size: 1.8rem;
}

.see-more-button-container {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.see-more-button {
  width: 2rem;
  text-align: center;
  border: #a6a6a6 0.2rem solid;
  border-radius: 4rem;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.see-more-button:hover {
  border-color: black;
}

.class-breakdowns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

.breakdown-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.breakdown-title {
  font-size: 1.75rem;
  padding: 0.25rem;
  padding-right: 1rem;
}

.breakdown-rating {
  font-size: 1.75rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.hard {
  background-color: #ff6767;
}

.okay {
  background-color: #ffe945;
}

.easy {
  background-color: #71c771;
}

.class-add-and-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1.5rem;
  width: 10%;
}

.class-add-button {
  font-size: 2.2rem;
  padding: 0.5rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  margin-bottom: 1rem;
  text-decoration: none;
  color: black;
  background-color: #a6a6a6;
  border-radius: 2rem;
  border: #a6a6a6 0.2rem solid;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.class-add-button:hover {
  border: black 0.2rem solid;
}

.class-see-reviews {
  font-size: 1.5rem;
  color: gray;
  text-decoration: none;
}

.entire-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notice-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15rem;
  width: 60rem;
  background-color: white;
  border-radius: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.notice-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 4rem;
}

.notice-header h1 {
  font-weight: lighter;
}

#notice-text-button {
  border: transparent 0.2rem solid;
  border-radius: 3rem;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  margin-left: 1rem;
}

#notice-text-button img {
  width: 2rem;
}

#notice-text-button:hover {
  border: #282828 solid 0.2rem;
  border-radius: 3rem;
}

.notice-text {
  font-size: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
}

.flip {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hidden {
  display: none;
}

.find-school-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-radius: 1rem;
  width: 50%;
  background-color: white;
}

.find-school-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4rem;
}

.find-school-search-bar {
  margin: 2rem;
  font-size: 3rem;
  padding: 0.3rem;
  font-family: "Questrial", sans-serif;
  border: black 0.2rem solid;
  border-radius: 0.5rem;
  width: 45rem;
}

.enter-button {
  padding: 0.7rem;
  color: white;
  background-color: #282828;
  border: #282828 0.2rem solid;
  border-radius: 0.5rem;
  text-decoration: none;
}

html,
body,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

html {
  font-family: "Questrial", sans-serif;
  min-height: 100%;
}

body {
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #a6a6a6;
}
/*# sourceMappingURL=main.css.map */